@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// ANIMETION SEC
//**************************************************************
.move-x {
  will-change: transform;
}
/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
