@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// # button
//**************************************************************

/* ## ボタン共通の css
***********************************************/
.btn {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: 0.2s;

    // ## MOBILE // *************************************************>
    @include media-under(sp) {
        font-size: 14px;
    }
}


/* ### BTN BLUE（デフォルトの青いボタン）
--------------------------------------------*/
.btn-blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue;
    color: $white;
    border-radius: 50px;
    position: relative;
    padding: 1rem 2rem 1rem 3rem;
    min-width: 260px;
    text-align: left;
    border: solid 2px $white;

    &::after {
        display: block;
        right: 0;
        top: 0;
        content: '';
        background-image: url('#{$image-path}/common/triangle_w.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
    }

    &:hover {
        background-color: $black;
        transition: 0.2s;
    }
}


/* ### BTN BLACK（デフォルトの青いボタン）
--------------------------------------------*/
.btn-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    color: $white;
    border-radius: 50px;
    padding: 1rem 2rem 1rem 3rem;
    min-width: 260px;
    text-align: left;
    border: solid 2px $white;

    &::after {
        display: block;
        right: 0;
        top: 0;
        content: '';
        background-image: url('#{$image-path}/common/triangle_w.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
    }

    &:hover {
        background-color: $blue;
        transition: 0.2s;
    }
}


/* ### BTN VIEW MORE（詳しく見る）
--------------------------------------------*/
.btn-more {
    border-bottom: solid 1px $black;
    font-size: 13px;

    &:hover {
        i {
            transition: 0.2s;
            transform: scale(1.3) rotate(360deg);

        }
    }
}

/* ### BTN VIEW MORE（詳しく見る）
--------------------------------------------*/
.btn-view-more {
    display: block;
    border: solid 1px $black;
    font-size: 15px;
    text-align: center;
    width: 260px;
    padding: .5rem 0;
    background-color: $white;
    transition: 0.2s;

    &:hover {
        background-color: $black;
        color: $white;
        transition: 0.2s;
    }
}

/* ### BTN AREA
--------------------------------------------*/
.btn-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    &.center {
        justify-content: center;
    }
}





/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
