@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**********************************************************************
// # CONTENT（ブログエディター部分）
//**********************************************************************
.content, .single-product-content {
    margin-bottom: 10rem;

    /* ### WP BLOCK IMAGE
    --------------------------------------*/
    .wp-block-image {
        margin: 4rem 0 3rem 0;
        width: 100%;

        img {
            border-radius: 5px;
            overflow: hidden;
        }
        .wp-element-caption {
            font-size: 12px;
            color: $font-gray;
        }
    }

    /* ### WP BLOCK BUTTON
    --------------------------------------*/
    .wp-block-button {
        .wp-block-button__link {
            font-weight: bold;
            padding: 1rem 2rem;
            margin-bottom: 3rem;
            background-color: $black;
        }
    }

    /* ### WP BLOCK TABLE
    --------------------------------------*/
    .wp-block-table {
        td {
            border: none;
            border-bottom: solid 1px $border-gray;
            font-size: clamp(12px, 1.4vw, 16px);
            font-weight: 500;

            &:first-child {
                width: 20%;
                color: $blue;
            }
        }
    }

    /* ### TEXT
    --------------------------------------*/
    p {
        margin-bottom: 3rem;
        line-height: 2.5;

        a {
            border-bottom: solid 1px $black;
            font-weight: 600;
        }

        strong {
            margin-bottom: 2rem;
            line-height: 2.5;
        }
    }

    h2 {
        border-bottom: solid 1px $blue;
        border-left: solid 5px $blue;
        margin-top: 10rem;
        margin-bottom: 3rem;
        font-size: 22px;
        padding: 17px 16px 17px;
        color: $blue;
        background-color: $bg-gray;
        border-radius: 0 100px 0 0 ;
    }

    h3 {
        margin-top: 6rem;
        margin-bottom: 2rem;
        font-size: 20px;
        padding: 5px 8px;
        border-bottom: solid 1px $blue;
        color: $blue;
    }

    h4 {
        display: inline-block;
        font-size: 17px;
        margin-top: 6rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px $blue;
        color: $blue;
        border-bottom: solid 1px $blue;
        padding-bottom: .5rem;

    }

    .wp-block-list {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem 2rem 2rem 3rem;
        background-color: $bg-gray;
        border-radius: 10px;

        li {
            display: flex;
            align-items: center;
            line-height: 1.7;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                display: block;
                content: '';
                width: 7px;
                height: 7px;
                margin-right: 10px;
                background-color: $blue;
                border-radius: 50%;
                flex-shrink: 0; 
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        margin-bottom: 3rem;

        .wp-block-image {
            .wp-element-caption {
                font-size: 10px;
            }
        }

        // text
        p {
            line-height: 2;
            font-size: 13px;

            strong {
                line-height: 2;
                font-size: 13px;
            }
        }

        h2 {
            border-left: solid 4px $black;
            margin-top: 6rem;
            font-size: 20px;
            padding: 0 5px 2px;
        }

        h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 18px;
            padding: 3px 0;
        }

        

        .wp-block-list {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem 2rem;

            li {
                line-height: 1.7;
                margin-bottom: 5px;

                &:before {
                    font-size: 11px;
                    margin-right: 5px;
                }
            }
        }
    }
}



// wordpressでイメージを挿入した場合
figure {
    // キャプション
    figcaption {
    }
}

// 引用
blockquote {
    padding: 1rem;

    // 引用元
    cite {
        font-size: 14px;
    }
}

// ## MOBILE // *************************************************>

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
