@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";
//**************************************************************
// # RIGHT BOX
//**************************************************************
/* ## LIGHT BOX GALLERY
********************************************************************/
.light-box-gallery {
    img {
        transition: .2s;
        &:hover {
            transition: .2s;
            transform: scale(1.05);
            filter: opacity(.7);
        }
    }
}

.lightbox {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    z-index: 9999;

    .lightbox-bg {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(4px);
    }

    .lightbox-inner {
        position: relative;
        width: clamp(200px, 70%, 760px);
        height: auto;
    }

    .lightbox-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        pointer-events: none;
    }

    .caption {
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        color: #fff;
        opacity: 0.9;
    }

    .arrow {
        position: absolute;
        top: 50%;
        background: rgba(255, 255, 255, 0.2);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        background-size: 56%;
        background-repeat: no-repeat;
        z-index: 999;
        transform: translate(0%, -50%);


        &.prev {
            background-image: url("#{$image-path}/common/arrow_left_white.svg");
            left: -10%;
            background-position: 46% 50%;
        }
        &.next {
            background-image: url("#{$image-path}/common/arrow_right_white.svg");
            right: -10%;
            background-position: 54% 53%;
        }

        &:hover {
            opacity: .5;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        .caption {
            font-size: 12px;
        }

        .arrow {
            width: 30px;
            height: 30px;

            &.prev {
                left: -15%;
            }
            &.next {
                right: -15%;
            }
        }
    }
}



/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
