@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// RADIUS BOX
//**************************************************************
.radius-box {
  border-radius: 10vw;
  padding: 10% 6%;
  color: $white;

  &.blue {
    background-color: $blue;
  }
}




/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
