@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// TITLE
//**************************************************************
/* ## TITLE TEMPLATE
***********************************************/
.title-template {
    color: $blue;

    /* ### TITLE
    --------------------------------------*/
    .title {
        span {
            display: block;
            font-size: 13px;
            margin-bottom: 1.5rem;
        }
        h2 {
            font-size: clamp(42px, 7vw, 120px);
            line-height: 1;
            font-family: $en-font;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        h3 {
            font-size: clamp(34px, 6vw, 74px);
            line-height: 1;
            font-family: $en-font;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        h4 {
            font-size: clamp(24px, 4vw, 48px);
            line-height: 1;
            font-family: $en-font;
            font-weight: 400;
        }
    }

    /* ### CATCH
    --------------------------------------*/
    .catch {
        font-size: clamp(16px, 2vw, 24px);
        margin-bottom: 1.5rem;
        color: $black;
    }
    p {
        color: $black;
    }

    &.white {
        .title {
            span {
                color: $white;
            }
            h2 {
                color: $white;
            }
        }

        /* ### CATCH
        --------------------------------------*/
        .catch {
            color: $white;
        }
        p {
            color: $white;
        }

    }

    &.tategaki {

        /* ### TITLE
        --------------------------------------*/
        .title {
            h2 {
                writing-mode: vertical-rl;
                margin-left: -9px;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        &.tategaki {

            /* ### TITLE
            --------------------------------------*/
            .title {
                h2 {
                    margin-left: -4px;
                }
            }
        }
    }
}


/* ## LOWER TITLE TEMPLATE
***********************************************/
.lower-title-template {
    color: $white;

    /* ### TITLE
    --------------------------------------*/
    .title {
        margin-bottom: 3rem;
        h1 {
            font-size: clamp(42px, 7vw, 120px);
            font-family: $en-font;
            font-weight: 400;
            margin-bottom: 1rem;
            line-height: 1;
        }
        span {
            font-size: clamp(14px, 2vw, 24px);
        }
    }

    /* ### CATCH
    --------------------------------------*/
    .catch {
        font-size: clamp(16px, 2vw, 24px);
        margin-bottom: 1.5rem;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        /* ### TITLE
        --------------------------------------*/
        .title {
            margin-bottom: 2rem;
        }
    }
}


/* ## RAdIUS TITLE
***********************************************/
.radius-title {
    background-color: $black;
    border-radius: 40px;
    padding: 2rem 0;
    margin-bottom: 10rem;
    color: $white;

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        padding: 1rem 0;
        margin-bottom: 4rem;

        h3 {
            font-size: clamp(18px, 2vw, 24px);
        }
    }
} 


/* ## BORDER TITLE
***********************************************/
.border-title {
    color: $blue;
    margin-bottom: 1.5rem;

    h3 {
        font-size: clamp(1.8rem, 2.5vw, 2.4rem);
        display: flex;
        align-items: center;
        gap: 20px;
        
        &::after {
            content: '';
            width: 90px;
            height: 1px;
            border-bottom: solid 1px $blue;
        }
    }

    h5 {
        font-size: clamp(16px, 2vw, 22px);
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 700;
        
        &::after {
            content: '';
            width: 50px;
            height: 1px;
            border-bottom: solid 1px $blue;
        }
    }

    &.center {
         h3 {
            justify-content: center;

            &::before {
                content: '';
                width: 90px;
                height: 1px;
                border-bottom: solid 1px $blue;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        margin-bottom: 1.5rem;

        h3 {
            gap: 20px;
            &::after {
                content: '';
                width: 30px;
            }
        }

        h5 {
            gap: 20px;
            &::after {
                width: 20px;
            }
        }

        &.center {
            h3 {

                &::before {
                    width: 30px;
                }
            }
        }
    }
}

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
