@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// TITLE
//**************************************************************
/* ## TITLE TEMPLATE
***********************************************/
.title-template {
    color: $blue;

    /* ### TITLE
    --------------------------------------*/
    .title {
        span {
            font-size: 13px;
        }
        h2 {
            font-size: clamp(42px, 6.5vw, 120px);
            font-family: $en-font;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }

    /* ### CATCH
    --------------------------------------*/
    .catch {
        font-size: clamp(18px, 2vw, 24px);
        margin-bottom: 1.5rem;
        color: $black;
    }
    p {
        color: $black;
    }

    &.white {
        .title {
            span {
                color: $white;
            }
            h2 {
                color: $white;
            }
        }

        /* ### CATCH
        --------------------------------------*/
        .catch {
            color: $white;
        }
        p {
            color: $white;
        }

    }
}


/* ## RAdIUS TITLE
***********************************************/
.radius-title {
    background-color: $black;
    border-radius: 40px;
    padding: 2rem 0;
    margin-bottom: 10rem;
} 

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
