@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// TITLE
//**************************************************************
/* ## TITLE TEMPLATE
***********************************************/
.title-template {
    color: $blue;

    /* ### TITLE
    --------------------------------------*/
    .title {
        span {
            font-size: 13px;
        }
        h2 {
            font-size: clamp(42px, 7vw, 120px);
            font-family: $en-font;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }

    /* ### CATCH
    --------------------------------------*/
    .catch {
        font-size: clamp(18px, 2vw, 24px);
        margin-bottom: 1.5rem;
        color: $black;
    }
    p {
        color: $black;
    }

    &.white {
        .title {
            span {
                color: $white;
            }
            h2 {
                color: $white;
            }
        }

        /* ### CATCH
        --------------------------------------*/
        .catch {
            color: $white;
        }
        p {
            color: $white;
        }

    }
}


/* ## RAdIUS TITLE
***********************************************/
.radius-title {
    background-color: $black;
    border-radius: 40px;
    padding: 2rem 0;
    margin-bottom: 10rem;
    color: $white;
} 


/* ## BORDER TITLE
***********************************************/
.border-title {
    color: $blue;
    margin-bottom: 1.5rem;

    h3 {
        font-size: clamp(1.8rem, 2.5vw, 2.4rem);
        display: flex;
        align-items: center;
        gap: 20px;
        
        &::after {
            content: '';
            width: 90px;
            height: 1px;
            border-bottom: solid 1px $blue;
        }
    }

    h5 {
        font-size: clamp(16px, 2vw, 22px);
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 700;
        
        &::after {
            content: '';
            width: 50px;
            height: 1px;
            border-bottom: solid 1px $blue;
        }
    }

    &.center {
         h3 {
            justify-content: center;

            &::before {
                content: '';
                width: 90px;
                height: 1px;
                border-bottom: solid 1px $blue;
            }
        }
    }
}

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
