@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// #footer
//**************************************************************
footer {
    width: 100%;
    background-color: $blue;
    border-radius: 100px 100px 0 0;
    padding: 10rem 3rem 0 3rem;
    color: $white;

    /* ### FOOTER LOGO
    -------------------------------------*/
    .footer-logo {
        display: block;
        width: 100%;
        max-width: 200px;
    }

    /* ### FOOTER CATCH AREA
    -------------------------------------*/
    .footer-catch-area {
        position: relative;

        .copyright-sns {
            position: absolute;
            left: 77%;
            top: 10%;
        }

        .sns-icons {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                display: block;
                border-top: solid 1px $white;
                border-bottom: solid 1px $white;
                font-family: $en-font;
                font-weight: 400;
                font-size: 14px;
                padding: 5px 7px;
                line-height: 1;
            }
        }
        
        .sns-nav {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .copyright {
            font-size: clamp(13px, 1vw, 20px);
            font-family: $en-font;
            font-weight: 400;
        }
    }

    /* ### FOOTER NAV
    -------------------------------------*/
    .footer-nav {
        color: $white;
        .footer-menu-title {
            display: block;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0.5rem;
        }

        .left-side {
        }
        .right-side {
            display: flex;
            flex-direction: column;
        }
    }

    /* ### FOOTER SUBMENU
    -------------------------------------*/
    .footer-submenu {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: solid 1px $white;
        a {
            display: block;
            font-size: 13px;
        }
    }


    // ## MOBILE // *************************************************>
    @include media-under(md) {
        border-radius: 80px 80px 0 0;
        padding: 3rem 2rem 0 2rem;

        /* ### FOOTER LOGO
        -------------------------------------*/
        .footer-logo {
            margin: 0 auto 2rem;
            max-width: 140px;
        }

        /* ### FOOTER CATCH AREA
        -------------------------------------*/
        .footer-catch-area {
            position: relative;

            /**** #### COPYLIGHT SNS ****/
            .copyright-sns {
                position: inherit;
                left: inherit;
                top: inherit;
                text-align: center;
                margin-bottom: 2rem;
            }

            .sns-icons {
                justify-content: center;

                span {
                    display: block;
                    border-top: solid 1px $white;
                    border-bottom: solid 1px $white;
                    font-family: $en-font;
                    font-weight: 400;
                    font-size: 14px;
                    padding: 5px 7px;
                    line-height: 1;
                }
            }
            
            .sns-nav {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .copyright {
                font-size: clamp(13px, 1vw, 20px);
                font-family: $en-font;
                font-weight: 400;
            }
        }

        /* ### FOOTER NAV
        -------------------------------------*/
        .footer-nav {
            margin-bottom: 1rem;
            .footer-menu {
                margin-bottom: 1.5rem;
            }
            .footer-menu-title {
                font-size: 14px;
                margin-bottom: 0.5rem;
            }
            .right-side {
                display: flex;
                flex-direction: column;
            }
        }

        .footer-submenu {
            padding-left: .8rem;
            margin-left: 1rem;
            a {
                font-size: 12px;
            }
        }
    }
}

// ## MOBILE // *************************************************>

/* ## コメント中
***********************************************/

/* ### コメント下
-------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
