@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// #header
//**************************************************************
header {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 20;
    width: 100%;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.85);

    // &.smaller {
    //     top: -200px;
    //     transition: 0.2s;
    // }

    &.hide {
        top: -200px;
        transition: 0.2s;
    }

    /* ### LOGO SIDE
    =====================================*/
    .logo-side {
        background-color: $blue;
        display: block;
        padding: 2rem 5rem 2rem 3rem;
        border-radius: 0 0 50px 0;
        img {
            width: 160px;
            height: auto;
        }
    }

    /* ### NAVIGATION
    =====================================*/
    .navigation {
        transition: 0.2s;

        .nav-item {
            position: relative;

            .submenu {
                position: absolute;
                top: 20px;
                left: 0;
                display: none;
                background: #fff;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
                padding: 2rem;
                z-index: 1000;
                border-radius: 5px;

                li {
                    white-space: nowrap;
                }
            }

            &.has-children {
                &:hover {
                    .submenu {
                        display: block;
                    }
                }
            }
        }

        .menu-link {
            display: block;
            p {
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 1.5;
            }
        }
    }

    /* ### SNS NAVIGATION
    =====================================*/
    .sns-nav {
        max-width: 180px;
        padding-right: 3rem;

        a {
            display: block;
            padding: 7px;
        }
    }

    /* ### BTN CONTACT
    =====================================*/
    .btn-contact {
        position: absolute;
        right: -2px;
        top: 86px;
        display: flex;
        align-items: center;
        background-color: $blue;
        border-radius: 40px 0 0 40px;
        border: solid 2px $white;
        color: $white;
        padding: 5px 20px;
        z-index: 2;

        &::before {
            display: block;
            content: '';
            background-image: url('#{$image-path}/common/plane_w.svg');
            background-size: contain;
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }

    /* ### HAMBURGER
    =====================================*/
    .hamburger {
        pointer-events: all;
        display: block;
        position: absolute;
        z-index: 200;
        right: 10px;
        top: 10px;
        width: 60px;
        height: 72px;
        cursor: pointer;
        text-align: center;

        /* #### 棒の部分 ****/
        span {
            display: block;
            position: absolute;
            width: 32px;
            height: 2px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $black;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            transition: 0.5s all;

            &:nth-child(1) {
                top: 21px;
            }
            &:nth-child(2) {
                top: 30px;
            }
            &:nth-child(3) {
                top: 39px;
            }
        }

        &::after {
            position: absolute;
            top: 43px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: inline-block;
            content: "MENU";
            color: $black;
            font-size: 8px;
        }

        /* #### activeクラスが付加した時 ****/
        &.active {
            span {
                &:nth-child(1) {
                    top: 28px;
                    width: 30px;
                    -webkit-transform: rotate(-30deg);
                    -moz-transform: rotate(-30deg);
                    transform: rotate(-30deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    -webkit-animation: active-btn17-bar02 0.8s forwards;
                    animation: active-hamburger-bar02 0.8s forwards;
                }
                &:nth-child(3) {
                    top: 28px;
                    width: 30px;
                    -webkit-transform: rotate(30deg);
                    -moz-transform: rotate(30deg);
                    transform: rotate(30deg);
                }
            }

            &::after {
                content: "CLOSE";
            }
        }
    }

    /* ### MENU CONTENTS
    =====================================*/
    .menu-contents {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
        padding: 72px 9% 6%;
        background: rgb(255 255 255 / 95%);

        /* #### ACTIVE
        --------------------------------*/
        &.active {
            transition: 0.2s;
            opacity: 1;
            visibility: visible;
        }

        /* #### LOGO
        --------------------------------*/
        .logo {
            display: block;
            text-align: center;
            margin-bottom: 4rem;

            img {
                width: 160px;
                margin: 0 auto;
            }
        }

        /* #### MENU LIST
        --------------------------------*/
        .menu-list {
            width: 100%;

            /* ##### MENU ****/
            .menu {
                margin-bottom: 1.5rem;

                a {
                    display: block;
                    font-weight: bold;
                    font-size: 17px;
                    letter-spacing: 3px;
                    line-height: 1.5;
                    padding-bottom: 0.5rem;
                }
            }

            .submenu {
                padding: 0.7rem 0 0 1.5rem;
                margin-top: 0.5rem;
                margin-left: 1rem;
                margin-bottom: 3rem;
                border-left: solid 1px $black;

                li {
                    margin-bottom: 0.5rem;
                }

                a {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        /* #### HEADER SECOND NAV
        --------------------------------*/
        .header-second-nav {
            position: absolute;
            left: 5%;
            bottom: 2%;

            li {
                margin-bottom: 1rem;
            }

            a {
                display: block;
                font-size: 13px;
                line-height: 1.5;
                color: $font-gray;
            }
        }
    }

    /* ### MOBILE =====================================*/
    @include media-under(sp) {
        padding: 2rem 1rem;

        .container-fluid {
            padding: 0 1rem;
        }

        /* ### LOGO SIDE
        =====================================*/
        .logo-side {
            display: block;
            img {
                width: 130px;
            }
        }
    }
}
