@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";


//**************************************************************
// Structure
//**************************************************************
/* ## HTML
***********************************************/
html {
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* ## BODY
***********************************************/
body {
	background-color: $main-bg-color;
	height: 100%;
}

/* ## MAIN
***********************************************/
main {

}

/* ## SECTION
***********************************************/
section {
	position: relative;
	padding: 12rem 0rem;


	/* ### MOBILE =====================================*/
	@include media-under(md) {
		padding: 5rem 0rem;
	}
}

/* ## FIRST SECTION
***********************************************/
.first-sec {
	padding-top: 109px;

	/* ### MOBILE =====================================*/
	@include media-under(md) {
		padding-top: 92px;
	}
}

/* ## TEXT PAGE FIRST SECTION（テキストページ）
***********************************************/
.text-page-first-sec{
    padding-top: 16rem;
    padding-bottom: 0;

    // .description {
    //     padding-left: 5%;
    // }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        padding-top: 10rem;
    }
}


/* ## BTN SECTION（ボタン用セクション）
***********************************************/
.btn-sec {
	.btn-area {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		
	}

	// ## MOBILE // *************************************************>
    @include media-under(md) {
		.btn-area {
			a {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


/* ## CONTAINER
***********************************************/
/* ### CONTAINER
=====================================*/
.container {
	max-width: 1480px;
	padding: 0 5%;
	margin: 0 auto;
}

.container, .container-fluid {
    @include media-under(md) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}



//**************************************************************
// General screen control
//**************************************************************
//Print
@media print {
	.hidePrint,
	.beforeOrderBtn,
	.beforeOrderBnr {
		display: none;
	}
	.listInline {
		&.sns {
			display: none;
		}
	}
	a:not([href*="#"]) {
		display: none !important;
	}
}


/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
