@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";


//**************************************************************
// Structure
//**************************************************************
/* ## HTML
***********************************************/
html {
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* ## BODY
***********************************************/
body {
	background-color: $main-bg-color;
	height: 100%;
}

/* ## MAIN
***********************************************/
main {

}

/* ## SECTION
***********************************************/
section {
	position: relative;
	padding: 12rem 0rem;


	/* ### MOBILE =====================================*/
	@include media-under(md) {
		padding: 5rem 0rem;
	}
}

/* ## FIRST SECTION
***********************************************/
.first-sec {
	padding-top: 109px;

	/* ### MOBILE =====================================*/
	@include media-under(md) {
		padding-top: 92px;
	}
}


/* ## LOWER FIRST SECTION（仮想ページのファーストセクション）
***********************************************/
.lower-first-sec {
	position: relative;
	padding-top: 109px;
	background-color: $blue;
	color: $white;

	> div {
		position: relative;
		z-index: 5;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: .1;
		mix-blend-mode: multiply;
		pointer-events: none;
		background-position: 50% 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
	// aboutページ
	&.about {
		&::before {
			background-image: url('#{$image-path}/about/fv_about.webp')
		}
	}

	/* ### TEXT SIDE
	--------------------------------*/
	.text-side {
		padding-left: 10%;
	}
	/* ### IMAGE SIDE
	--------------------------------*/
	.image-side {
		// max-height: 500px;
		margin-top: 6rem;
		border-radius: clamp(64px, 8vw, 120px) 0 0 0;
		overflow: hidden;

		img {
			height: 100%;
			object-position: 50% 50%;
		}
	}

	/* ### MOBILE =====================================*/
	@include media-under(md) {
		padding-top: 92px;
	}
}





/* ## BTN SECTION（ボタン用セクション）
***********************************************/
.btn-sec {
	.btn-area {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		
	}

	// ## MOBILE // *************************************************>
    @include media-under(md) {
		.btn-area {
			a {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


/* ## CONTAINER
***********************************************/
/* ### CONTAINER
=====================================*/
.container {
	max-width: 1480px;
	padding: 0 5%;
	margin: 0 auto;
}

.container, .container-fluid {
    @include media-under(md) {
        padding-left: 5%;
        padding-right: 5%;
    }
}



//**************************************************************
// General screen control
//**************************************************************
//Print
@media print {
	.hidePrint,
	.beforeOrderBtn,
	.beforeOrderBnr {
		display: none;
	}
	.listInline {
		&.sns {
			display: none;
		}
	}
	a:not([href*="#"]) {
		display: none !important;
	}
}


/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
