@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// #typography
//**************************************************************
// remを 1rem=10px にしてわかりやすくするためのcss
html {
    font-size: 62.5%;
}

//*******************************************************************
// # HEADING
//*******************************************************************
h1 {
    font-size: clamp(3.6rem, 5vw, 8rem);
    line-height: 1.5;
    font-weight: 700;
}
h2 {
    font-size: clamp(2.8rem, 4vw, 6.8rem);
    line-height: 1.5;
    font-weight: 700;
}
h3 {
    font-size: clamp(2.1rem, 3vw, 3.2rem);
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 700;
}
h4 {
    font-size: clamp(1.9rem, 2vw, 2.4rem);
    line-height: 1.5;
    font-weight: 700;
}  
h5 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    line-height: 1.5;
}

p, a {
    font-size: clamp(14px, 1.2vw, 18px);
    line-height: 2;
    font-weight: 500;
}

li {
    font-size: clamp(14px, 1.2vw, 18px);
    line-height: 2;
    font-weight: 500;
}

span {
    font-size: clamp(11px, 1vw, 14px);
    font-weight: 700;
}

dl {
    dt {
        font-size: clamp(14px, 1.2vw, 18px);
        font-weight: 700;
        line-height: 1.5;
    }
    dd {
        font-size: clamp(14px, 1vw, 18px);
        margin-inline-start: 0;
        line-height: 1.8;
    }
}






/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
