@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**************************************************************
// #typography
//**************************************************************
// remを 1rem=10px にしてわかりやすくするためのcss
html {
    font-size: 62.5%;
}

//*******************************************************************
// # HEADING
//*******************************************************************
h1 {
    font-size: clamp(3.6rem, 5vw, 8rem);
    line-height: 1.5;
    font-weight: 900;
}
h2 {
    font-size: clamp(2.8rem, 4vw, 6.8rem);
    line-height: 1.5;
    font-weight: 900;
}
h3 {
    font-size: clamp(2.1rem, 3vw, 3.2rem);
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 900;
}
h4 {
    font-size: clamp(2.0rem, 2.5vw, 2.8rem);
    line-height: 1.5;
    font-weight: 900;
}  
h5 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    line-height: 1.5;
}

p {
    font-size: clamp(14px, 1.4vw, 2rem);
    line-height: 2;
    font-weight: 700;
}

span {
    font-weight: 700;
}






/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
