@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//*******************************************************************
// # ABOUT
//*******************************************************************
/* ## LOWER FIRST SECTION（ファーストセクション）
********************************************************************/

/* ## ABOUT MSG SECTION（メッセージ）
********************************************************************/
.about-msg-sec {
    position: relative;

    &::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: .13;
		mix-blend-mode: multiply;
		pointer-events: none;
		background-position: 50% 67%;
		background-size: cover;
		background-repeat: no-repeat;
        background-image: url('#{$image-path}/about/msg_bg.webp')
	}
}


/* ## PHILOSOPHY SECTION（メッセージ）
********************************************************************/
.philosophy-sec {
    position: relative;
    background-color: $blue;

    > div {
		position: relative;
		z-index: 5;
	}

    &::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: .1;
		pointer-events: none;
		background-position: 50% 67%;
		background-size: cover;
		background-repeat: no-repeat;
        background-image: url('#{$image-path}/about/philosophy_bg.webp')
	}

    .text-side {
        padding-left: 3%;
    }

    /* ### IMAGE SIDE
    --------------------------------------*/
    .image-side {

    }

    /* ### PHILOSOPHY CONTENT
    --------------------------------------*/
    .philosophy-content {
        color: $white;
        position: relative;
        padding: 6% 10%;
		background-size: cover;
		background-repeat: no-repeat;
        overflow: hidden;
        margin-bottom: 1.5rem;

        > div {
            position: relative;
            z-index: 5;

            span {
                display: block;
                font-size: 18px;
                margin-bottom: 2rem;
            }

            h3 {
                font-family: $en-font;
                font-size: clamp(34px, 6vw, 74px);
                line-height: 1;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: clamp(13px, 1.5vw, 20px);
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            opacity: .4;
            pointer-events: none;
            mix-blend-mode: multiply;
            background-color: $black;
        }

        &.vision {
            border-radius: 100px 0 0 0;
            background-position: 50% 29%;
            background-image: url('#{$image-path}/about/vision.webp')
        }
        &.mission {
            background-position: 50% 29%;
            background-image: url('#{$image-path}/about/mission.webp')
        }
        &.concept {
            border-radius: 0 0 0 100px;
            background-position: 50% 29%;
            background-image: url('#{$image-path}/about/concept.webp')
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        > div {
            padding-right: 0;
        }

        /* ### PHILOSOPHY CONTENT
        --------------------------------------*/
        .philosophy-content {
            margin-bottom: 1rem;

            > div {
                span {
                    font-size: 15px;
                    margin-bottom: 1.5rem;
                }

                h3 {
                    margin-bottom: 1rem;
                }
            }

            &.vision {
                border-radius: 50px 0 0 0;
            }
            &.concept {
                border-radius: 0 0 0 50px;
            }
        }
    }
}


/* ## LOGO CONCEPT SECTION（ロゴコンセプト）
********************************************************************/
.logo-concept-sec {
    margin-top: -8rem;

    > .container {
        max-width: 1280px;
        padding: 6%;
        background-color: $bg-gray;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        margin-top: 0;

        > .container {
            padding: 10% 6%;
        }

        .title-template {
            text-align: center;
            margin-bottom: 5rem;
        }

        .logo {
            max-width: 210px;
            margin: 0 auto 5rem;
        }
    }
}


/* ## GREETING SECTION（ごあいさつ）
********************************************************************/
.greeting-sec {

    >.container {
        max-width: 1280px;
    }

    /* ### IMAGE SIDE
    --------------------------------------*/
    .image-side {
        position: absolute;
        width: clamp(120px, 20%, 260px);
        margin-top: 5rem;

        .ogashira {
            aspect-ratio: 9/18;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
        .caption {
            span {
                font-weight: 500;
            }
            h5 {
                font-weight: 500;
            }
        }
    }

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        border: solid 1px $blue;
        padding: 8%;
        margin-left: 20%;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### IMAGE SIDE
        --------------------------------------*/
        .image-side {
            position: absolute;
            width: 120px;
            top: -60px;
            right: 11%;

            .ogashira {
                aspect-ratio: 1/1;
            }
        }

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            border: solid 1px $blue;
            padding: 8%;
            margin-left: 0;
        }
    }
}


/* ## STAFF SECTION（スタッフ紹介）
********************************************************************/
.staff-sec {

    /* ### STAFF CARD
    --------------------------------------*/
    .staff-card {
        position: relative;
        background-color: $bg-gray;
        padding: 5% 5% 5% 9%;
        height: 100%;

        /**** #### NAME ****/
        .name {
            display: flex;
            align-items: baseline;
            gap: 20px;
            font-weight: 600;
        }

        /**** #### DESCRIPTION ****/
        .description {
            font-size: clamp(12px, 1.4vw, 15px);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 0;
            left: 0;
            width: 5%;
            height: 100%;
        }

        &::after {
            position: absolute;
            left: -3px;
            top: 10px;
            font-family: $en-font;
            color: $white;
            font-size: 2vw;
            writing-mode: sideways-rl;
            line-height: 1;
            font-weight: 400;
            letter-spacing: 3px;
        }

        /**** #### MEN ****/
        &.men {
            &::before {
                background-color: $blue;
            }
            &::after {
                content: 'MEN';
            }
            .name {
                h5 {
                    color: $blue;
                }
            }
        }
        &.woman {
            &::before {
                background-color: $pink;
            }
            &::after {
                content: 'WOMAN';
            }

            .name {
                h5 {
                    color: $pink;
                }
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### STAFF CARD
        --------------------------------------*/
        .staff-card {
            padding: 5% 5% 5% 11%;

            /**** #### NAME ****/
            .name {
                gap: 10px;
            }

            &::before {
                width: 7%;
            }

            &::after {
                position: absolute;
                left: -2px;
                top: 10px;
                font-size: clamp(13px, 5vw, 20px);
            }
        }
    }
}


/* ## FACTORY & ACCESS SECTION（工場紹介・アクセス）
********************************************************************/
.factory-access-sec {
    > .container {
        padding: 10rem 5% 10rem 10%;
        position: relative;
        background-color: $bg-gray;
    }
    /* ### TITLE TEMPLATE
    --------------------------------------*/
    .title-template {
        position: absolute;
        left: 0;
        top: 8rem;
    }

    .comment {
        max-width: 840px;
        margin: 7rem auto 0;

        .image-side {
            max-width: 150px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 140%;
                height: 140%;
                object-position: 50% 60%;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        padding-bottom: 0;

        > .container {
            padding: 10rem 5% 6rem 14%;
        }

        /* ### TITLE TEMPLATE
        --------------------------------------*/
        .title-template {
            top: 5rem;
        }

        .comment {
            margin: 5rem auto 0;

            .image-side {
                max-width: 80px;
            }
        }   
    }
}



/* ## COMPANY SECTION（運営会社）
********************************************************************/
.company-sec {

    .text-side {

        .company-logo {
            max-width: 270px;
            margin-bottom: 2rem;
        }

        .company-info-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 2rem;

            tr {
                border-bottom: solid 1px $border-gray;
                &:first-child {
                    border-top: solid 1px $border-gray;
                }
            }

            th {
                padding: 1.5rem 1rem;
                background-color: $bg-gray;
            }
            td {
                padding: 1.5rem 1rem;
            }
        }
    }

    .image-side {
        img {
            height: 100%;
        }
    }
}


// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
