@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**********************************************************************
// # ARCHIVE PRODUCTS
//**********************************************************************
.archive-products-sec {
    position: relative;
	padding-top: 180px;
	background-color: $blue;
	color: $white;

	> div {
		position: relative;
		z-index: 5;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: .1;
		mix-blend-mode: normal;
		pointer-events: none;
		background-position: 50% 30%;
		background-size: cover;
		background-repeat: no-repeat;
        background-image: var(--genre-img);
	}

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        padding-left: 10%;
        padding-right: 10%;
		margin-bottom: 6rem;

        /**** #### GENRE FEATURES ****/
        .genre-features {
            padding: 2rem;
            background-color: rgb(20 44 98 / 60%);
            border-radius: 10px;
        }
    }

    /* ### IMAGE SIDE
	--------------------------------*/
	.image-side {
		border-radius: clamp(64px, 8vw, 120px) 0 0 0;
		overflow: hidden;
		height: 100%;
        max-height: 780px;

		img {
			height: 100%;
			object-position: 50% 50%;
		}
	}
    // ## MOBILE // *************************************************>
    @include media-under(md) {
        padding-top: 128px;

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            padding-left: 7%;
			padding-right: 5%;
			margin-bottom: 0;

            /**** #### GENRE FEATURES ****/
            .genre-features {
                padding: 2rem;
                background-color: rgb(20 44 98 / 60%);
                border-radius: 10px;
            }
        }

        /* ### IMAGE SIDE
        --------------------------------*/
        .image-side {
            max-height: 360px;
        }
    }
}

//**********************************************************************
// # INDEX PRODUCTS SECTION
//**********************************************************************
.index-products-sec {
    background-color: $bg-gray;
    margin-bottom: 10rem;

    /* ### PRODUCT CONTENT
    --------------------------------------*/
    .product-content {
        padding: 10%;
    }
    
    /* ### IMAGE AREA
    --------------------------------------*/
    .image-area {
        aspect-ratio: 3/4;
        margin-bottom: 1.5rem;

        img {
            height: 100%;
        }
    }

    /* ### TEXT AREA
    --------------------------------------*/
    .text-area {
        .title {
            color: $blue;
            font-size: clamp(12px, 2vw ,20px);
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        .product-content {
            padding: 5%;
        }
    }
}




/* ## PRODUCTS TAX NAVIGATION
***********************************************************/
.products-tax-nav {
    background-color: $white;
    max-width: 1080px;
    margin: 0 auto 7rem;
    padding: 2rem;

    p {
        color: $blue;
        font-weight: 500;
    }

    ul {
        a {
            display: block;
            font-size: clamp(11px, 1vw, 16px);
            padding: 0px 10px;
            background-color: $black;
            border-radius: 30px;
            color: $white;

            &.is-current {
                background-color: $blue;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        margin: 0 auto 2rem;
        padding: 2rem 1rem;
    }
}


/* ## GENRE TAGS
***********************************************************/
.genre-tags {
    margin-bottom: 1rem;

    .genre-tag {
        display: inline-block;
        font-size: clamp(11px, .8vw, 14px);
        padding: 0px 10px;
        background-color: $black;
        border-radius: 30px;
        color: $white;
    }
}





//**********************************************************************
// # h1
//**********************************************************************

/* ## h2
***********************************************************/

/* ### h3
--------------------------------------*/

/**** #### h4 ****/

/* ##### h5 */

