@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";


//*******************************************************************
// # FORM CONTACT
//*******************************************************************
.contact-first-sec {
    padding-top: 17rem;

    >.container {
        position: relative;
    }

    /* ### CONTACT ATTENTION
    --------------------------------------*/
    .contact-attention {
        padding-top: 2.5rem;
        color: $font-gray;
        margin-bottom: 1rem;

        span {
            font-weight: 500;
        }
    }

    /* ### TEL NUMBER
    --------------------------------------*/
    .tel-number {
        display: flex;
        align-items: center;
        gap: 7px;
        font-family: $en-font;
        font-size: clamp(24px, 3vw, 34px);
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/common/tel_blue.svg);
        }
    }

    /* ### BTN AREA
    --------------------------------------*/
    .btn-area {
        position: absolute;
        top: 10px;
        right: 5%;
    }


    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### TEL NUMBER
        --------------------------------------*/
        .tel-number {
            &::before {
                content: "";
                width: 25px;
                height: 25px;
            }
        }

        /* ### BTN AREA
        --------------------------------------*/
        .btn-area {
            position: static;
            padding-top: 2rem;
        }
    }
}

 
//*******************************************************************
// # MEASURE GUIDE FORM SECTION （セルフ採寸フォーム）
//*******************************************************************
.measure-guide-sec {
    >.container {
        max-width: 1080px;
        margin: 0 auto;
    }
}


//*******************************************************************
// # FORM（お問合せ系共通）
//*******************************************************************
.contact-form-sec {
    color: $blue;

    >.container {
        max-width: 1080px;
    }
}

//*******************************************************************
// # CONTACT FORM BODY（お問合せ系共通）
//*******************************************************************
.contact-form-body {
    background-color: $bg-gray;
    padding: 5rem;
    border-radius: 5px;
    margin-bottom: 3rem;

    /**** #### 長いフォームにおいてのセクション ****/
    .form-section {
        border-bottom: solid 1px $blue;
        margin-bottom: 6rem;
        padding-bottom: 6rem;

        &.form-type {
            .wpcf7-form-control-wrap {
                text-align: center;
            }
        }
    }

    /**** #### フォームのタイトルテンプレート ****/
    .form-title-template {
        margin-bottom: 3rem;
        h3 {
            font-family: $en-font;
            font-weight: 500;
            font-size: clamp(30px, 4vw, 54px);
        }
    }
    /**** #### ボーダー付きタイトル ****/
    .border-bottom-title {
        text-align: center;
        margin-bottom: 3rem;
        h4 {
            display: inline-block;
            border-bottom: solid 1px $blue;
        }
    }

    /**** #### 通常項目 ****/
    .row {
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    /**** #### オーダー内容の各種項目 ****/
    .spec-row {
        border-top: solid 1px $border-gray;
        padding-top: 3rem;
    }

    /**** #### 項目の見出し ****/
    label {
        &.title {
            color: $blue;
            font-size: 15px;
            font-weight: 500;
        }

        &.required {
            color: $blue;
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 15px;
            font-weight: 500;

            span {
                color: $white;
                background-color: $blue;
                padding: 5px 10px;
                border-radius: 5px;
                display: block;
                line-height: 1;
            }
        }
    }

    

    input[type="radio"] {
        transform: scale(1.4); /* ←好きな倍率に */
        margin-right: 6px;
    }

    /**** #### ラベルのフォント ****/
    .wpcf7-list-item-label {
        line-height: 1;
        font-size: 14px;
    }

    /**** #### メール確認 ****/
    .confirm-mail-label {
        display: block;
        font-size: 14px;
        color: $blue;
        font-weight: 500;
        padding-left: 50px;
        padding-top: 17px;
    }

    /**** #### inputの上のdiv要素（エラー文章が差し込まれる） ****/
    .wpcf7-form-control-wrap {
        display: block;

        input {
            padding: 5px;
            font-size: 14px;
            border-radius: 5px;
            border: solid 1px $border-gray;
        }

        &[data-name="email"] {
            margin-bottom: 1.5rem;
        }
    }

    /**** #### テキスト ****/
    .wpcf7-text {
        width: 100%;

        &[name="first-name"],&[name="last-name"] {
            width: 100px;
        }

        &[name="zip-1"],&[name="zip-2"] {
            width: 80px;
        }

        &.plain-input {
            border: none;
            pointer-events: none;
        }
    }

    /**** #### メール ****/
    .wpcf7-email {
        width: clamp(120px, 80%, 340px);
    }
    /**** #### テキストエリア ****/
    .wpcf7-textarea {
        width: 100%;
        border-radius: 5px;
        border: solid 1px $border-gray
    }

    /**** #### 指名と電話番号 ****/
    .name-fields, .tel-fields {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    /**** #### 電話番号 ****/
    .tel-fields {
        .wpcf7-form-control {
            width: 80px;
        }
    }
    /**** #### 住所 ****/
    .address-fields {
        .zip-row {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 1.5rem;
        }
        .address-row {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 1.5rem;

            label {
                font-size: 14px;
                width: 100px;
            }
            input {
                width: 100%;
            }
        }
        .zip-search-btn {
            background-color: $blue;
            border-radius: 30px;
            color: $white;
            font-size: 13px;
            padding: 5px 10px;
            border: solid 1px $white;
        }
    }

    /**** #### ご希望日時 ****/
    .preferred-date-fields {
        .date-field {
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .notes{
        font-size: clamp(10px, 1vw, 12px);
        color: $pink;
        line-height: 1.7;
    }

    .selected-product-box {
        background-color: $white;
        padding: 3rem;
        border: solid 1px $border-gray;
        margin-bottom: 3rem;

        .plain-input {
            width: 100%;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        padding: 4rem 2.5rem;

        .confirm-mail-label {
            text-align: end;
            padding-left: 0;
            padding-top: 5px;
        }

        .wpcf7-form-control-wrap {
            &[data-name="email"] {
                margin-bottom: 1rem;
            }
        }

        .wpcf7-email {
            width: 100%;
        }

        .tel-fields {
            .wpcf7-form-control {
                width: 60px;
            }
        }
    }
}


.privacy {
    text-align: center;
    font-size: 13px;
    margin-bottom: 4rem;
    a {
        font-size: 13px;
        color: $blue;
        border-bottom: solid 1px $blue;
    }
    // ## MOBILE // *************************************************>
    @include media-under(md) {
        font-size: 10px;
        a {
            font-size: 10px;
        }
    }
}

.form-submit {
        .btn-blue {
        margin: 0 auto;
    }
}



// ## MOBILE // *************************************************>
@include media-under(md) {
}

//*******************************************************************
// # h1（h1）
//*******************************************************************

/* ## h2
***********************************************/

/* ### h3
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
