@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//*******************************************************************
// # HOME
//*******************************************************************
/* ## FIRST SECTION（ファーストセクション）
********************************************************************/
#first-view-sec {
    position: relative;

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        padding-left: 10%;
        h1 {
            font-family: $en-font;
            color: $blue;
            font-weight: 400;
            line-height: 1;
            font-size: clamp(3.6rem, 9vw, 14rem);
            padding-top: 5rem;
            margin-bottom: 4rem;
        }
        .catch {
            margin-bottom: 3rem;
        }
    }

    /* ### SLIDER CONTAINER
    --------------------------------------*/
    .slider-container {
        position: relative;
        border-radius: 80px 0 0 0;
        overflow: hidden;
        height: clamp(430px, 90vw, 950px);

        /* #### SLIDE --------------------*/
        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: scale(1);
            transition: transform 5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 33%;
            }

            &.active {
                z-index: 1;
            }
        }

        /* #### PROGRESS BAR --------------------*/
        .progress-bar {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: rgba(255, 255, 255, 0.1);
            overflow: hidden;
            z-index: 2;

            .progress {
                height: 100%;
                width: 0;
                background: $white;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(sp) {
    }
}


/* ## ABOUT SECTION（ABOUTセクション）
********************************************************************/
.about-sec {
    .image-side {
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: 50% 40%;
        }
    }
    .text-side {
        place-content: center;
    }
}



/* ## PRODUCTS SECTION（製品紹介）
********************************************************************/
.products-sec {
    background: linear-gradient(to left, $bg-gray 50%, $white 50%);

    /* ## ROW
    ***********************************************/
    .row {
        margin-bottom: 6rem;
    }

    /* ## OTHER ITEM
    ***********************************************/
    .other-item {
        img {
            border-radius: 20px;
            aspect-ratio: 20/9;
        }
    }

    /* ## PRODUCTS IMAGES
    ***********************************************/
    .product-images {
        img {
            border-radius: 10px;
            aspect-ratio: 3/4;
        }
        span {
            display: block;
            text-align: center;
        }
    }

    /* ## PRODUCTS LINK
    ***********************************************/
    .products-link {
        p {
            margin-bottom: 3rem;
        }
    }
}



/* ## CUSTOM SECTION（カスタム・オプション）
********************************************************************/
.custom-sec {
    background: linear-gradient(to bottom, $white 65%, $blue 35%);

    .custom-images {
        img {
            aspect-ratio: 4/5;
            border-radius: 10px;
        }

        dl {
            dt {
                font-family: $en-font;
                font-size: clamp(18px, 2vw, 34px);
                font-weight: 400;
                letter-spacing: 1px;
            }
            dt,dd {
                color: $white;
            }
        }
    }
}


/* ## ORDER SECTION（カスタム・オプション）
********************************************************************/
.order-sec {

    .check {
        width: 90%;
        margin: 0 auto 2rem;
    }
    /* ### MEASURIG METHOD
    --------------------------------------*/
    .measuring-method {
        margin-bottom: 6rem;
    }

    /* ### MEASURIG CARD
    --------------------------------------*/
    .measuring-card {
        border: solid 1px $white;
        padding: 6%;
        position: relative;

        /**** #### TITLE ****/
        .title {
            margin-bottom: 2rem;

            h4 {
                font-size: clamp(2.8rem, 4vw, 6.8rem);
                line-height: 1.5;
                font-weight: 400;
                border-bottom: solid 1px $white;
                font-family: $en-font;
                margin-bottom: 1rem;
            }
        }

        img {
            margin-bottom: 1.5rem;
            aspect-ratio: 16/9;
        }
        p {
            font-size: clamp(13px, 1vw, 17px);
        }

        /**** #### YELLOW ****/
        &.yellow {
            border: solid 1px $yellow;
            &::before {
                position: absolute;
                top: -44px;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: inline-block;
                content: 'おすすめ！';
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                max-width: 140px;
                letter-spacing: 1px;
                border-radius: 30px;
                background-color: $white;
                padding: .5rem 1rem;
                color: $blue;
            }
            &::after {
                content: "";
                position: absolute;
                top: -9px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 14px solid $white;
            }

            .title {
                color: $yellow;
                h4 {
                    border-bottom: solid 1px $yellow;
                }
            }
        }
    }

    /* ### THREE TYPES
    --------------------------------------*/
    .three-types {
        margin-bottom: 6rem;

        .radius-title {
            margin-bottom: 4rem;
        }
    }

    /* ### THREE TYPES CARD
    --------------------------------------*/
    .three-types-card {

        img {
            border-radius: 10px;
            margin-bottom: 1rem;
        }

        .title {
            h5 {
                font-size: clamp(1.6rem, 1.2vw, 2rem);
                font-weight: 700;
            }
            p {
                font-size: clamp(13px, 1vw, 17px);
            }
        }
    }

    .order-links-area  {
        p {
            margin-bottom: 4rem;
        }
    }
}


/* ## VOICE SECTION（お客様の声）
********************************************************************/
.voice-sec {

    /* ### VOICE LIST
    --------------------------------------*/
    .voice-list {

    }

    /* ### VOICE ITEM
    --------------------------------------*/
    .voice-item {
        background-color: $bg-gray;
        padding: 3%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .voice-thumb {
            width: auto;
            max-width: 100px;
            border-radius: 50%;
            border: solid 1px $black;
            overflow: hidden;
            aspect-ratio: 1/1;

            img {
                height: 100%;
            }
        }

        /**** #### VOICE CONTENT ****/
        .voice-content {
            width: auto;
            padding-left: 1.5rem;

            .voice-meta {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    background-color: $black;
                    padding: 0px 10px;
                    color: $white;
                    font-weight: 400;
                    border-radius: 5px;
                }

                time {
                    font-size: 13px;
                    color: $font-gray;
                }
            }

            .voice-title {
                margin-bottom: 5px;
            }
        }
    }
}

// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
