@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//*******************************************************************
// # HOME
//*******************************************************************
/* ## FIRST SECTION（ファーストセクション）
********************************************************************/
#first-view-sec {
    position: relative;

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        padding-left: 10%;
        h1 {
            font-family: $en-font;
            color: $blue;
            font-weight: 400;
            line-height: 1;
            font-size: clamp(3.6rem, 9vw, 14rem);
            padding-top: 5rem;
            margin-bottom: 4rem;
        }
        .catch {
            margin-bottom: 3rem;
            font-size: clamp(1.9rem, 3vw, 3.2rem);
        }
    }

    /* ### SLIDER CONTAINER
    --------------------------------------*/
    .slider-container {
        position: relative;
        border-radius: 80px 0 0 0;
        overflow: hidden;
        height: clamp(430px, 90vw, 950px);

        /* #### SLIDE --------------------*/
        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: scale(1);
            transition: transform 5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 33%;
            }

            &.active {
                z-index: 1;
            }
        }

        /* #### PROGRESS BAR --------------------*/
        .progress-bar {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: rgba(255, 255, 255, 0.1);
            overflow: hidden;
            z-index: 2;

            .progress {
                height: 100%;
                width: 0;
                background: $white;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            padding: 0 5%;
            padding-bottom: 4rem;
            
            h1 {
                font-size: clamp(42px, 16vw, 64px);
                padding-top: 7rem;
                margin-bottom: 2rem;
            }
            .catch {
                margin-bottom: 1.5rem;
            }
        }
        
        /* ### SLIDER SIDE
        --------------------------------------*/
        .slider-side {
        }

        /* ### SLIDER CONTAINER
        --------------------------------------*/
        .slider-container {
            position: absolute;
            width: 70%;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: .3;
            height: 82%;

            /* #### SLIDE --------------------*/
            .slide {
            }
        }
    }
}


/* ## ABOUT SECTION（ABOUTセクション）
********************************************************************/
.about-sec {    
    .image-side {
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 40%;
        }
    }
    .text-side {
        place-content: center;
    }

    @include media-over(xxl) {
        .image-side {
            aspect-ratio: 5/4;

            img {
                object-position: 50% 30%;
            }
        }
        .text-side {
            padding: 0;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        .image-side {
            aspect-ratio: 2/1;

            img {
                object-position: 50% 30%;
            }
        }
        .text-side {
            padding: 10% 5%;
        }
    }
}



/* ## PRODUCTS SECTION（製品紹介）
********************************************************************/
.products-sec {
    background: linear-gradient(to left, $bg-gray 50%, $white 50%);

    /* ## ROW
    ***********************************************/
    .row {
        margin-bottom: 6rem;
    }

    /* ## OTHER ITEM
    ***********************************************/
    .other-item {
        a {
            border-radius: 20px;
            overflow: hidden;
            display: block;
        }
        img {
            height: 100%;
            width: 100%;
            &:hover {
                transform: scale(1.1);
                transition: .2s;
                filter: brightness(1.2);
            }
        }
    }

    /* ## PRODUCTS IMAGES
    ***********************************************/
    .product-images {
        a {
            overflow: hidden;
            border-radius: 10px;
            aspect-ratio: 3/4;
            display: block;
        }
        img {
            height: 100%;
            transition: .2s;
            &:hover {
                transform: scale(1.1);
                transition: .2s;
                filter: brightness(1.2);
            }
        }
        span {
            display: block;
            text-align: center;
        }
    }

    /* ## PRODUCTS LINK
    ***********************************************/
    .products-link {
        p {
            margin-bottom: 3rem;
        }
    }
    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ## ROW
        ***********************************************/
        .row {
            margin-bottom: 1rem;
        }

        /* ## OTHER ITEM
        ***********************************************/
        .other-item {
            img {
                border-radius: 20px;
                aspect-ratio: 20/9;
            }
        }

        /* ## PRODUCTS IMAGES
        ***********************************************/
        .product-images {
            img {
                border-radius: 10px;
                aspect-ratio: 3/4;
            }
            span {
                display: block;
                text-align: center;
            }
        }

        /* ## PRODUCTS LINK
        ***********************************************/
        .products-link {
            p {
                margin-bottom: 3rem;
            }
        }
    }
}



/* ## CUSTOM SECTION（カスタム・オプション）
********************************************************************/
.custom-sec {
    background: linear-gradient(to bottom, $white 65%, $blue 35%);

    .custom-images {
        img {
            aspect-ratio: 4/5;
            border-radius: 10px;
        }

        dl {
            dt {
                font-family: $en-font;
                font-size: clamp(18px, 2vw, 34px);
                font-weight: 400;
                letter-spacing: 1px;
            }
            dt,dd {
                color: $white;
            }
        }
    }
    // ## MOBILE // *************************************************>
    @include media-under(md) {
        background: linear-gradient(to bottom, $white 38%, $blue 35%);

        .custom-images {
            margin-bottom: 2rem;
        }
    }
}


/* ## ORDER SECTION（カスタム・オプション）
********************************************************************/
.order-sec {

    .check {
        width: 90%;
        margin: 0 auto 2rem;
    }
    /* ### MEASURIG METHOD
    --------------------------------------*/
    .measuring-method {
        margin-bottom: 6rem;
    }

    /* ### MEASURIG CARD
    --------------------------------------*/
    .measuring-card {
        border: solid 1px $white;
        padding: 6%;
        position: relative;

        /**** #### TITLE ****/
        .title {
            margin-bottom: 2rem;

            h4 {
                font-size: clamp(3.2rem, 4vw, 6.8rem);
                line-height: 1.5;
                font-weight: 400;
                border-bottom: solid 1px $white;
                font-family: $en-font;
                margin-bottom: 1rem;
            }
        }

        img {
            margin-bottom: 1.5rem;
            aspect-ratio: 16/9;
        }
        p {
            font-size: clamp(13px, 1vw, 17px);
        }

        /**** #### YELLOW ****/
        &.yellow {
            border: solid 1px $yellow;
            &::before {
                position: absolute;
                top: -44px;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: inline-block;
                content: 'おすすめ！';
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                max-width: 140px;
                letter-spacing: 1px;
                border-radius: 30px;
                background-color: $white;
                padding: .5rem 1rem;
                color: $blue;
            }
            &::after {
                content: "";
                position: absolute;
                top: -9px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 14px solid $white;
            }

            .title {
                color: $yellow;
                h4 {
                    border-bottom: solid 1px $yellow;
                }
            }
        }
    }

    /* ### THREE TYPES
    --------------------------------------*/
    .three-types {
        margin-bottom: 6rem;

        .radius-title {
            margin-bottom: 4rem;
        }
    }

    /* ### THREE TYPES CARD
    --------------------------------------*/
    .three-types-card {

        img {
            border-radius: 10px;
            margin-bottom: 1rem;
            aspect-ratio: 1/1;
        }

        .title {
            h5 {
                font-size: clamp(1.6rem, 1.2vw, 2rem);
                font-weight: 700;
            }
            p {
                font-size: clamp(13px, 1vw, 17px);
            }
        }
    }

    .order-links-area  {
        p {
            margin-bottom: 4rem;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        .check {
            width: 90%;
            margin: 0 auto .5rem;
        }

        /* ### MEASURIG CARD
        --------------------------------------*/
        .measuring-card {

            /**** #### TITLE ****/
            .title {
                margin-bottom: 1.5rem;

                h4 {
                    line-height: 1.5;
                    font-weight: 400;
                    border-bottom: solid 1px $white;
                    font-family: $en-font;
                    margin-bottom: 1rem;
                }
            }

            img {
                margin-bottom: 1.5rem;
                aspect-ratio: 16/9;
            }
            p {
                font-size: clamp(13px, 1vw, 17px);
            }

            /**** #### YELLOW ****/
            &.yellow {
                &::before {
                    top: -30px;
                }
                &::after {
                    top: 5px;
                }

                .title {
                    color: $yellow;
                    h4 {
                        border-bottom: solid 1px $yellow;
                    }
                }
            }
        }

        /* ### THREE TYPES
        --------------------------------------*/
        .three-types {
            margin-bottom: 4rem;

            .radius-title {
                margin-bottom: 2rem;
            }
        }

        /* ### THREE TYPES CARD
        --------------------------------------*/
        .three-types-card {

            img {
                border-radius: 5px;
            }

            .title {
                p {
                    font-size: clamp(11px, 1vw, 17px);
                }
            }
        }

        .order-links-area  {
            p {
                margin-bottom: 2rem;
            }
        }
    }
}


/* ## VOICE SECTION（お客様の声）
********************************************************************/
.voice-sec {

    /* ### VOICE ITEM
    --------------------------------------*/
    .voice-item {
        background-color: $bg-gray;
        padding: 3%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .voice-thumb {
            width: auto;
            max-width: 100px;
            border-radius: 50%;
            border: solid 1px $black;
            overflow: hidden;
            aspect-ratio: 1/1;

            img {
                height: 100%;
            }
        }

        /**** #### VOICE CONTENT ****/
        .voice-content {
            width: auto;
            padding-left: 1.5rem;

            .voice-meta {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    background-color: $black;
                    padding: 0px 10px;
                    color: $white;
                    font-weight: 400;
                    border-radius: 5px;
                }

                time {
                    font-size: 13px;
                    color: $font-gray;
                }
            }

            .voice-title {
                margin-bottom: 5px;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### VOICE ITEM
        --------------------------------------*/
        .voice-item {
            position: relative;
            padding: 27px 5% 5% 5%;

            .voice-thumb {
                width: 55px;
                position: absolute;
                top:20px;
                left: 5%;
            }

            /**** #### VOICE CONTENT ****/
            .voice-content {
                padding-left: 0;

                .voice-meta {
                    padding-left: 70px;
                }

                .voice-title {
                    padding-left: 70px;
                    font-size: 15px;
                    margin-bottom: 1rem;
                }
                .voice-excerpt {
                    font-size: 12px;
                    line-height: 1.8;
                }
            }
        }
    }
}


/* ## BLOG SECTION（お客様の声）
********************************************************************/
.blog-sec {
    .bg-gray {
        background-color: $bg-gray;
        padding: 7% 10%;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        .bg-gray {
            padding: 13% 5%;
        }
    }
}

/* ## NEWS ITEM
***********************************************/
.news-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;

    /* ### NEWS THUMB
    --------------------------------------*/
    .news-thumb {
        width: 20%;
        aspect-ratio: 8/5;
        display: block;
        overflow: hidden;
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    /* ### NEWS BODY
    --------------------------------------*/
    .news-body {
        width: 80%;
        padding-left: 2rem;
    }

    /* ### NEWS META
    --------------------------------------*/
    .news-meta {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    /* ### NEWS TITLE
    --------------------------------------*/
    .news-title {
        letter-spacing: 0;
        font-size: clamp(15px, 2vw, 2rem);
        margin-bottom: .5rem;
    }

    /* ### NEWS EXCERPT
    --------------------------------------*/
    .news-excerpt {
        color: $font-gray;
        font-size: clamp(11px, 1.2vw, 15px);
        line-height: 1.7;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        margin-bottom: 1.5rem;

        /* ### NEWS THUMB
        --------------------------------------*/
        .news-thumb {
            width: 20%;
            aspect-ratio: 1/1;
        }

        /* ### NEWS BODY
        --------------------------------------*/
        .news-body {
            padding-left: 1.5rem;
        }

        /* ### NEWS META
        --------------------------------------*/
        .news-meta {
            gap: 10px;
            margin-bottom: 5px;
        }

        /* ### NEWS TITLE
        --------------------------------------*/
        .news-title {
            letter-spacing: 0;
            font-size: clamp(13px, 1.5vw, 16px);
            margin-bottom: 0;
        }
    }
}

.typography {
    .news-cat {
        background-color: $black;
        border-radius: 5px;
        color: $white;
        padding: 5px 10px;
        font-size: clamp(10px, 1vw, 14px);
        display: block;
        line-height: 1;

        // ## MOBILE // *************************************************>
        @include media-under(md) {
            border-radius: 2px;
            padding: 3px 7px;
        }
    }
    .news-date {
        color: $font-gray;
        font-size: clamp(12px, 1vw, 14px);
    }
}





/* ## ACCESS SECTION（アクセス）
********************************************************************/
.access-sec {

    /* ### ABOUT VISIT
    --------------------------------------*/
    .about-visit {
        margin-bottom: 10rem;
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {

        /* ### ABOUT VISIT
        --------------------------------------*/
        .about-visit {
            margin-bottom: 5rem;
        }
    }
}

/* ### ACCESS INFO
--------------------------------------*/
.access-info {

    .store-name {
        h5 {
            font-weight: 700;
            color: $blue;
        }
    }

    /**** #### LABELS ****/
    .labels {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        span {
            display: inline-block;
            background-color: $black;
            border-radius: 40px;
            color: $white;
            font-weight: 400;
            padding: 0 15px;
            line-height: 1.7;
        }
    }

    /**** #### LOGO ****/
    .logo {
        max-width: 240px;
        width: 80%;

        &.redloo {
            max-width: 100px;
        }
    }

    /**** #### ACCESS INFO DEATIL ****/
    .access-info-detail {
        margin-top: 2rem;
        margin-bottom: 6rem;

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: clamp(12px, 1vw, 16px);
            &::before {
                content: '';
                width: 17px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .address {
            font-weight: 700;
            &::before {
                background-image: url('../images/common/map_blue.svg');
            }
        }
        .train {
            font-weight: 700;
            &::before {
                background-image: url('../images/common/train_blue.svg');
            }
        }
        .car {
            font-weight: 700;
            &::before {
                background-image: url('../images/common/car_blue.svg');
            }
        }
    }

    /**** #### ACCESS INFO DEATIL ****/
    .google-map {
        position: relative;

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
        }

        .btn-map {
            position: absolute;
            right: 6%;
            top: 92%;
            z-index: 2;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        .logo {
            &.redloo {
                max-width: 80px;
            }
        }

        /**** #### ACCESS INFO DEATIL ****/
        .access-info-detail {
            margin-bottom: 2rem;
        }

        /**** #### ACCESS INFO DEATIL ****/
        .google-map {
            .btn-map {
                right: 3%;
                top: 87%;
            }
        }
    }
}

/* ### TEL INFO
--------------------------------------*/
.tel-info {
    .tel {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: $en-font;
        font-size: 34px;

        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/common/tel_blue.svg');
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        .tel {
            font-size: 28px;
        }
    }
}




// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
