@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//*******************************************************************
// # ORDER FLOW
//*******************************************************************
/* ## FLOW SECTION（注文までのフロー）
********************************************************************/
.order-step-sec {

    .order-steps {
        background-color: $bg-gray;
        padding: 8% 5%;
    }

    .order-step {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0; 
        }
    }

    .image-side {
        height: 100%;
        img {
            height: 100%;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
       
    }
}





// ## MOBILE // *************************************************>
@include media-under(md) {
    
}

/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
