@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//*******************************************************************
// # ORDER FLOW
//*******************************************************************
/* ## FLOW SECTION（注文までのフロー）
********************************************************************/
.order-step-sec {
    /* ### ORDER STEPS
    --------------------------------------*/
    .order-steps {
        background-color: $bg-gray;
        padding: 8% 5%;
        margin-bottom: 10rem;
    }

    /* ### ORDER STEP
    --------------------------------------*/
    .order-step {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0;
        }
    }

    /* ### IMAGE SIDE
    --------------------------------------*/
    .image-side {
        height: 100%;
        img {
            height: 100%;
        }
    }

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        h3 {
            font-size: clamp(1.8rem, 2.6vw, 3.2rem);
        }
        p {
            margin-bottom: 1rem;
        }
        span {
            font-size: clamp(24px, 5vw, 74px);
            font-family: $en-font;
            font-weight: 400;
            line-height: 1;
        }

        .notice {
            display: block;
        }

        .notice-box {
            background-color: $white;
            border: solid 1px $blue;
            padding: 0.5rem 1rem;
            color: $blue;
            font-weight: 500;
            font-size: clamp(12px, 1vw, 16px);
            margin-bottom: 1.5rem;
        }
    }

    /* ### ATTENTION CONTENT
    --------------------------------------*/
    .attention-content {
        h4 {
            color: $blue;
            margin-bottom: 1rem;

            &.transport {
                display: flex;
                align-items: center;
                gap: 10px;
                &::before {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-image: url("../images/common/transport.svg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }

        li {
            display: flex;
            align-items: center;
            gap: 10px;

            &::before {
                content: "";
                width: 15px;
                height: 15px;
                background-image: url("../images/common/check.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        small {
            display: block;
            font-size: 12px;
            padding-top: 1rem;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        /* ### ORDER STEPS
        --------------------------------------*/
        .order-steps {
            margin-bottom: 4rem;
        }

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            .btn-area {
                justify-content: center;
            }
        }
    }
}

/* ## POINTS FITS SECTION（始まりは34箇所の採寸）
********************************************************************/
.points-fits-sec {
    background-color: $bg-dark-gray;
    color: $white;
    position: relative;

    /* ### 背景画像
    --------------------------------------*/
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        inset: 0;
        background-image: url("../images/order-flow/bg_36_points.webp");
        background-size: cover;
        background-position: 50% 65%;
        opacity: 0.1;
        mix-blend-mode: multiply;
        pointer-events: none;
        z-index: -1;
    }

    /* ### EVERY FIT BEGINS....
    --------------------------------------*/
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        inset: 0;
        width: clamp(20px, 10%, 100px);
        background-image: url("../images/order-flow/every_fit.svg");
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: -1;
    }

    /* ### TITLE
    --------------------------------------*/
    .title {
        h3 {
            letter-spacing: 2px;
        }
    }

    /* ### GALLERY AREA
    --------------------------------------*/
    .gallery-area {
        margin-bottom: 10rem;

        .light-box-gallery {
            margin-bottom: 3rem;
        }
    }

    /* ### FITTING METHOD AREA
    --------------------------------------*/
    .fitting-method-area {
        .bg-dark {
            background-color: $bg-dark-gray;
            border-radius: 10px;
            max-width: 940px;
            margin: 0 auto 5rem;
            padding: 2rem 3%;
            text-align: left;

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                dt {
                    width: 24%;
                }
            }
        }
    }

    /* ### FACTORY MERIT AREA
    --------------------------------------*/
    .factory-merit-area {
        background-color: $bg-dark-gray;
        border-radius: 10px;
        max-width: 740px;
        margin: 0 auto 5rem;
        padding: 5% 0;
        text-align: left;

        h3 {
            letter-spacing: 2px;
            font-size: clamp(1.8rem, 3vw, 3.2rem);
            &::after {
                display: block;
                content: "";
                width: 150px;
                height: 1px;
                border-bottom: solid 1px $white;
                margin: 2rem auto;
            }
        }

        ul {
            display: grid;
            place-content: center;
            gap: 10px;

            li {
                display: flex;
                align-items: center;
                gap: 10px;
                text-align: start;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-image: url("../images/common/check_yellow.svg");
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    pointer-events: none;
                }
            }
        }
    }

    /* ### BEFORE COMMING AREA
    --------------------------------------*/
    .before-comming-area {
        h5 {
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 1rem;
        }
        .btn-area {
            padding-top: 4rem;
        }
    }

    // ## MOBILE // *************************************************>
    @include media-under(md) {
        /* ### GALLERY AREA
        --------------------------------------*/
        .gallery-area {
            margin-bottom: 5rem;

            .light-box-gallery {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }
        }

        /* ### FITTING METHOD AREA
        --------------------------------------*/
        .fitting-method-area {
            .bg-dark {
                border-radius: 5px;
                margin: 0 auto 2rem;
                padding: 2rem;

                div {
                    gap: 5px;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    dt {
                        width: 100%;
                    }
                }
            }
        }

        /* ### FACTORY MERIT AREA
        --------------------------------------*/
        .factory-merit-area {
            border-radius: 5px;
            padding: 2rem;

            h3 {
                letter-spacing: 1px;
                &::after {
                    margin: 1.5rem auto;
                }
            }

            ul {
                li {
                    gap: 5px;

                    &::before {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

// ## MOBILE // *************************************************>
@include media-under(md) {
}

/* ## FLOW SECTION（注文までのフロー）
********************************************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
