@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**********************************************************************
// # PAGE
//**********************************************************************
.page-first-sec {
    &::before {
		content: "";
		position: absolute;
		inset: 0;
		opacity: .1;
		mix-blend-mode: normal;
		pointer-events: none;
		background-position: 50% 30%;
		background-size: cover;
		background-repeat: no-repeat;
        background-image: var(--page-img);
	}
}


.page-content-sec {
    padding-top: 5rem;
    
    > .container {
        max-width: 1080px;
        margin: 0 auto;
    }
}

//**********************************************************************
// # INDEX PRODUCTS SECTION
//**********************************************************************




//**********************************************************************
// # h1
//**********************************************************************

/* ## h2
***********************************************************/

/* ### h3
--------------------------------------*/

/**** #### h4 ****/

/* ##### h5 */

