@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

//**********************************************************************
// # SINGLE
//**********************************************************************

/* ## SINGLE SECTION
***********************************************/
.single-sec {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 15rem;

    @include media-over(sp) {
       
    }

    .container {
        &.small {
            max-width: 960px;
            margin: 0 auto;
        }
    }
}


/* ### TITLE AREA
--------------------------------------*/
.title-area {
    background-color: $bg-gray;
    margin-bottom: 5rem;
    border-left: solid 8px $blue;
    padding: 3rem;

    .day {
        display: block;
        font-size: 13px;
        color: $font-gray;
    }

    h1 {
        font-size: clamp(20px, 2.3vw, 28px);
        letter-spacing: 3px;
    }

    // ## MOBILE // *************************************************>
    @include media-under(sp) {

    }
}

/* ### THUMBNAIL
--------------------------------------*/
.thumbnail {
    overflow: hidden;
    margin-bottom: 4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 5/3;
    }

    // ## MOBILE // *************************************************>
    @include media-under(sp) { 
        margin-bottom: 3rem;
    }
}



// ## MOBILE // *************************************************>

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
