// /* import parts */
@use "./scss/variables" as *;
@use "./scss/mixins" as *;

@use "./scss/base/reset" as *;
@use "./scss/base/utility" as *;
@use "./scss/base/typography" as *;

@use "./scss/structure/layout" as *;
@use "./scss/structure/header" as *;
@use "./scss/structure/footer" as *;

@use "./scss/components/btn" as *;
@use "./scss/components/title" as *;
@use "./scss/components/post" as *;
@use "./scss/components/marquee" as *;
@use "./scss/components/radius-box" as *;
@use "./scss/components/attention" as *;
@use "./scss/components/factory-fitting" as *;
@use "./scss/components/light-box" as *;
@use "./scss/components/animation" as *;

@use "./scss/pages/archive" as *;
@use "./scss/pages/single" as *;
@use "./scss/pages/home" as *;
@use "./scss/pages/about" as *;
@use "./scss/pages/order-guide" as *;
@use "./scss/pages/order-flow" as *;
@use "./scss/pages/archive-products" as *;

