@use "variables" as *;
@use "sass:map";

//**********************************************************************
// Mixin
//**********************************************************************
/* ## BREAK POINTS
***********************************************/
// --- min-width --- //
@mixin media-over($point) {
  @media (min-width: map.get($breakpoints, $point)) {
    @content;
  }
}

// --- max-width --- //
@mixin media-under($point) {
  @media (max-width: map.get($breakpoints, $point)) {
    @content;
  }
}

// --- between（範囲指定も対応） --- //
@mixin media-between($min, $max) {
  @media (min-width: map.get($breakpoints, $min)) and (max-width: map.get($breakpoints, $max)) {
    @content;
  }
}


