//**********************************************************************
// Variables
//**********************************************************************

/* color
***********************************************/
// 基本 カラーリング
$main-bg-color: #ffffff;
$text-base-color: #000000;


$blue: #264898;
$bg-gray: #F7F7F7;
$bg-deep-gray: #9B9B9B;
$font-gray: #969696;
$border-gray:#E2E2E2;
$yellow: #FFF500;
$pink: #EB42B2;

$border-gray: #D8D8D8;
$orange: #FCD25B;
$light-blue: #5CFFFF;


$white: #fff;
$black: #000000;

$twitter: #55acee;
$facebook: #3b5998;
$google: #D34836;


/*************** screen bootstrap 対応済 ***************/
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;


/*************** path ***************/
// $image-path: "http://localhost:8002/wp-content/themes/name/assets/image";
$image-path: "/wp-content/themes/redloo/assets/images";
$font-path: "assets/fonts/" !default;


/*************** size ***************/
$screen-width: 1080px;
$header-height: 108px;  // 固定ヘッダー調整用
$sp-header-height: 48px; //固定ヘッダーモバイル調整用
$header-height-small: 90px;


/* fonts
***********************************************/
$base-font: "Zen Kaku Gothic New", sans-serif;
$en-font : "Anton", sans-serif;
$marquee-font : "Climate Crisis", sans-serif;
