//**********************************************************************
// Variables
//**********************************************************************

/* color
***********************************************/
// 基本 カラーリング
$main-bg-color: #ffffff;
$text-base-color: #000000;
$font-gray: #989898;
$bg-gray: #F5F5F5;
$border-gray: #D8D8D8;
$orange: #FCD25B;
$light-blue: #5CFFFF;
$yellow: #FFFF00;
$blue: #0000FF;
$pink: #FFAEAB;
$white: #fff;
$black: #000000;

$twitter: #55acee;
$facebook: #3b5998;
$google: #D34836;


/*************** screen bootstrap 対応済 ***************/
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;


/*************** path ***************/
// $image-path: "http://localhost:8002/wp-content/themes/name/assets/image";
$image-path: "/wp-content/themes/redloo/assets/images";
$font-path: "assets/fonts/" !default;


/*************** size ***************/
$screen-width: 1080px;
$header-height: 108px;  // 固定ヘッダー調整用
$sp-header-height: 48px; //固定ヘッダーモバイル調整用
$header-height-small: 90px;


/* fonts
***********************************************/
$base-font: "heisei-kaku-gothic-std", sans-serif;
$en-font : "Noto Serif JP", serif;
